.top{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.bottom{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.data{
     text-align: center;
     align-items: center;
     justify-content: center;
}
.stack{
    text-align: center;
    align-items: center;
    justify-content: center;
}
 